<!DOCTYPE html>
<html>
  <head>
    <title>Express Boilerplate</title>
    <%-stylesheets%>
  </head>
  <body>
    <header>
      <%-blocks.header%>
    </header>
    <section>
      <%-body -%>
    </section>
    <footer>
      <%-blocks.footer%>
		</footer>

		<%-scripts%>
  </body>
</html>
